.tuitions
  = link_to t('shared.add_new_item'), new_tuition_path, class: 'btn btn-default'
  List of upcoming tuition payment deadlines:
  %table.table.table-condensed#tuitions_data
    %thead
      %tr
        %th.full-name= 'Students'
        - tuitions.order(:deadline).each do |tuition|
          %th.deadline= tuition.deadline
    %tbody
      - students.each do |student|
        %tr
          %td= student.decorate.full_name
          - tuitions.order(:deadline).each do |tuition|
            - if tuition.students.exists?(student)
              %td= "paid"
            - else
              %td= "unpaid"
        
